.reg-p{
    flex: 1;
    height: 30vh;
    margin-right: 20px;
    background-color:aquamarine;
    font-size:xx-large;
    color:lightslategray;
}

.details-p{
    flex: 1;
    height: 30vh;
    margin-right: 20px;
    background-color:aquamarine;
    font-size:xx-large;
    color:lightslategray;
}

.patient-back{
    display:flex;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    align-items: center;
}

.patient{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%; 
    background-color: black;

}