<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  <ng-container matColumnDef="nic">
    <th mat-header-cell *matHeaderCellDef> NIC </th>
    <td mat-cell *matCellDef="let element"> {{element?.patient.patientNIC}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element?.patient.patientName}} </td>
  </ng-container>

  <ng-container matColumnDef="teleNumber">
    <th mat-header-cell *matHeaderCellDef> Tele No: </th>
    <td mat-cell *matCellDef="let element"> {{element.patient.patientTeleNum}} </td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Actionss </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="patientProfile(element.id)">
             <mat-icon>home</mat-icon> </button>

             <button mat-icon-button (click)="patientUpdate(element.id)">
              <mat-icon>edit</mat-icon> </button>

           <button mat-icon-button (click)="patientDelete(element.id)">
              <mat-icon>delete</mat-icon> </button>

        </td>

  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
