<div>
  <form class="patient_reg" (submit)="onSubmit(f)" #f="ngForm">
    <div *ngIf="isDoctor">
      <h1>Doctor Details</h1>

      <mat-form-field>
        <input
          class="input"
          matInput
          placeholder="Doctor Email"
          class="input"
          required
          [ngModel]="doctor?.email"
          name="email"
        />
      </mat-form-field>


      <mat-form-field *ngIf="!doctor">
        <input
          class="input"
          matInput
          placeholder="Password"
          class="input"
          required
          ngModel
          name="password"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          class="input"
          matInput
          placeholder="Doctor Name"
          class="input"
          required
          [ngModel]="doctor?.name"
          name="name"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="NIC"
          class="input"
          required
          [ngModel]="doctor?.nic"
          name="nic"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Address"
          class="input"
          required
          [ngModel]="doctor?.address"
          name="address"
        />
      </mat-form-field>

      <mat-radio-group name="patientGender" ngModel  [value]="doctor?.gender">
        <mat-label> Gender : </mat-label>
        <mat-radio-button style="margin-right: 10px" value="male"
          >Mele</mat-radio-button
        >
        <mat-radio-button style="margin-right: 10px" value="female"
          >Femele</mat-radio-button
        >
      </mat-radio-group>

      <mat-form-field>
        <input
          matInput
          placeholder="Telephone Number"
          class="input"
          required

          [ngModel]="doctor?.teleNumber"
          name="teleNumber"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="Mobile Number"
          class="input"
          required

          [ngModel]="doctor?.teleNumber"
          name="mobileNumber"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label> SLMC Number </mat-label>
        <input matInput class="input" required
        [ngModel]="doctor?.university"
         name="university" />
      </mat-form-field>

      <mat-form-field>
        <mat-label> Specialist Side </mat-label>
        <input matInput class="input" required
        [ngModel]="doctor?.specialistSide"
         name="specialistSide" />
      </mat-form-field>

      <mat-form-field>
        <mat-label> Experience </mat-label>
        <input matInput
        [ngModel]="doctor?.exeperience"
        class="input" required  name="exeperience" />
      </mat-form-field>

      <div style="text-align: end; width: 100%">
        <button mat-raised-button>Save</button>
      </div>
    </div>
  </form>
</div>
